@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400&display=swap');

/*Gerais*/
*{
    font-family: 'Roboto', sans-serif;
}

main{
    align-items: center;
    margin: 1rem 5rem;
}

body{
    background-color: #eaeaf1;
    min-height: 100vh;
}

body.dark-mode{
    background-color: #1a1a1a;
    color: #fff;
}

footer{
    width: 100%;
    height: 7rem;
    padding: 10px;
    background-color: #787A91;
    color: #EEEEEE;
}

footer a{
    color: #EEEEEE;
}

/*Navbar*/
.navbar{
    padding: 1rem;
    background-color: #11235A;
    margin-bottom: 1rem;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
    font-size: 20px;
    margin-left: 2rem;
}

.nav-link:focus,.nav-link:hover,.nav-link:active{
    color: #787A91;
}

.dropdown-menu{
    background-color: #EEEEEE;
}

.dropdown-item{
    font-family: 'Montserrat', sans-serif;
}

.dropdown-item:hover{
    background-color: #141E61;
    color: #EEEEEE;
}

.search-bar{
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #EEEEEE;
    border-radius: 12px;
    background-color: transparent;
    color: #EEEEEE;
    width: 8rem;
    padding: 4px;
    margin-right: 1rem;
    padding-left: 1rem;
    transition: width 0.3s ease-in-out;
}
  
.search-bar:focus {
    width: 17rem;
}

.btn-search{
    background-color: transparent;
    width: 3rem;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    padding-top: 5px;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out;
}

.btn-search:hover{
    background-color: #EEEEEE;
    color: black;
}

.navbar-toggler{
    color: #EEEEEE;
    border: none;
}

.btn-dark-mode{
    background-color: transparent;
    margin-left: 12px;
    width: 2rem;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    padding-top: 5px;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out;
}

.btn-dark-mode:hover{
    background-color: #EEEEEE;
    color: black;
}

/*Cards*/

.col-lg-3{
    margin: 0 auto;
}

.card{
    border-radius: 12px;
    background-color: #EEEEEE;
}

.card img{
    border-radius: inherit;
}

body.dark-mode .card {
    background-color: #787A91;
    color: #fff;
}

body.dark-mode .card-title {
    color: #EEEEEE; 
}

body.dark-mode .card-text {
    color: #EEEEEE; 
}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.card-text{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(20px / 1.618);
    font-weight: 300;
}