
main{
    align-items: center;
    margin: 1rem;
}

body{
    background-color: #fffdee;
}

footer{
    position: fixed;
    bottom: 0;
    width: 98.89vw;
    height: 4rem;
    padding: 1rem;
    background-color: #7c7c7dc3;
}

.navbar{
    height: 5rem;
    background-color: #11235A;
    margin-bottom: 1rem;
}

.col-md-3{
    margin: 0 auto;
}

.card{
    border-radius: 15px;
}